<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title><%= title %></title>
  <% include ./partials/header %>
</head>

<body>

<!-- Navbar in another ejs file so it can be reused -->
<% include ./partials/navbar %>

<div class="container">
  <div class="page-content">
    <div class="row">
      <div class="col-md-12">
        <div class="input-group input-group-lg">
          <input id="searchInput" type="text" class="form-control" placeholder="Enter a keyword...">
          <span class="input-group-btn">
          <button onclick="startStreaming()" class="btn btn-primary" type="button">
            Start
          </button>
        </span>
        </div><br>
        <div id="trends">
          Trending Globally:
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-9">
        <div id="chart"></div>
        <div id="legend"></div>
      </div>
      <div class="col-md-3">
        <div class="twt-wrapper">
          <div class="panel panel-primary">
            <div class="panel-heading">
              Twitter Feed
            </div>
            <div class="panel-body">

              <ul class="media-list">

              </ul>
            </div>
            <div class="panel-footer"><span class="text-danger">237K users active</span></div>
          </div>
        </div>
        <!-- TWEET WRAPPER END -->
      </div>
    </div>
  </div>

</div><!-- /.container -->


<% include ./partials/footer %>

</body>
</html>
