body {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  margin: 0px;
  font-size: 14px;
  padding: 0px;
}

.page-content > .row {
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-top: 60px;
}

.trendBtn {
  margin: 2px;
  font-size: 12px;
}
